<div id="id01" class="modal">

    <div class="modal-content animate">
        <span id="closeModal" class="close" title="Close Modal">&times;</span>
        <div class="container">
            <label ><b>Username</b></label>
            <input type="text" id="uname" placeholder="Enter Username" required>

            <label ><b>Password</b></label>
            <input type="password" id="psw" placeholder="Enter Password" required>

            <button id="loginBtn">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" id="foot">
            <button type="button" id="closeCancel" class="cancelbtn closeForm">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
</div>