#topic {
    position: relative;
    width: 78%;
    height: 5vh;
    float: left;
    margin-right: 2%;
    margin-top: 0;
}

#addBtn{
    position: relative;
    height: 5vh;
    width: 20%;
    float: left;
    font-size: 180%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 2px;
    border-color: mediumseagreen;
    border-radius: 6px;
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

#folderLine{
    position: relative;
    height: 1px;
    width: 120%;
    left: -5vh;
    top: 9vh;
    background-color: black;
    opacity: 30%;
}

#topics{
    top: 4vh;
    width: 100%;
    position: relative;
    height: 94%;
}

.block{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    background-color: #95d0a9;
    height: 6vh;
    clear: both;
    margin-bottom: 1vh;
    text-transform: none;
}

.name{
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 3vh;
    float: left;
}

.removeTopic{
    padding-right: 1vh;
    padding-top: 1vh;
    font-size: 3vh;
    position: relative;
    cursor: pointer;
    float: right;
    color: red;
    font-weight: bold;
}