#timer{
    position: relative;
    text-align: center;
    top: 20%;
    width: auto;
    height: auto;
}

#timerMins{
    width: 16vh;
    font-size: 3vh;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 2px;
    border-radius: 6px;
    text-align: center;
}

#timerBtn{
    font-size: 3vh;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 2px;
    border-radius: 6px;
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
    border-color: black;
}

#time{
    font-size: 3vh;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
